.thead-rep {
    color: #ff7426;
    font-size: 23px;
    border-width: 0.1rem;
}

/* Table{
    border-color: slateblue !important;
} */

.thead-rep{
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    size: 5rem;
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
    color: #ff7426;
}

.cell-detail{
    color:white !important
}

.table {
    border-block-color: #ff7426;
    border-color: #ff7426 !important;
}